body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background-color: rgb(239, 237, 237);
}
a{
    text-decoration: none;
}
a:hover{
    color: black;
}
h1, h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #BA5C12;
}
.logo{
    width: 200px;
    height: 200px;
}
.logo-link{
    grid-column: 1/2;
    grid-row: 2/4;
    margin-left: 50px;
}

.headline{
font-size: .75em;
}
#qg-pos1{
    max-width: 400px;
    max-height: 400px;
}
.welcome-background{
    grid-column: 1/4;
    grid-row: 1/4;
    z-index: -1;
   opacity: 0.2;
   width: 100%;
   height: 100%;
}
.nav-and-intro{
    width: 100%;
    display: grid; 
    grid-template-columns: 1fr 375px 1fr;
    grid-template-rows: 60px 100px 200px
    100px;
    height: 400px;
}
nav a, .nav-and-intro {
    text-align: center;
}
.navlinks {
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #f1f3f2;
    opacity: .45;
    color: #3E2F5B;
}
.welcome{
    grid-row: 2/3;
    grid-column: 2/3;
}
.welcome2{
    grid-row: 3/5;
    grid-column: 2/3;
}
.navlinks a:nth-of-type(1){
    grid-column: 1/2;
    margin: 20px 20px;
    color: black;
}
.navlinks a:nth-of-type(2){
    grid-column: 2/3;
    margin: 20px 20px;
}
.navlinks a:nth-of-type(3){
    grid-column: 3/4;
    margin: 20px 20px;
}
main{
    padding-top: 20px;
}
.branch-links{
    display: grid;
    grid-template-columns: 300px 1fr 1fr 350px;
    grid-template-rows: 60px 50px 400px;
    margin-left: 10%;
    margin-right: 50px;
    max-width: 80%;
}
.img-qg, .img-coaching{
    width: 215px;
    height: 215px;
}
.intro-paragraph{
    grid-column: 1/2;
    grid-row: 2/4;
}
.coaching-link{ 
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
}
.qg-link{
    grid-column: 3/4;
    grid-row: 3/4;
   justify-self: center;
}
.get-started{
    grid-column: 4/5;
    grid-row: 2/4;
    margin-left: 75px;
}
.head-qg{
    grid-row: 1/2;
    grid-column: 3/4;
    text-align: center;
    color: #BA5C12	;
}
.head-coaching {
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: center;
    color: #BA5C12	;
}
.footer-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 75px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    align-items: center;
    font-size: .65em;
    color: #3E2F5B;
}
.socials{
    color: #3E2F5B;
}
/*media for small screens*/
@media screen and (max-width: 900px) {
    .nav-and-intro{
        display: block;
        margin-bottom: 200px;
    }
    .welcome-background{
       height: auto; 
       display: flex;
       margin-top: 0;
       z-index: -1;
    }
    .logo{
        z-index: 1;
        height: 100px;
        width: 100px;
    }
    .branch-links{
        display: block;
        margin-top: 100px;
    }
    .intro-paragraph{
    
    }
    .welcome2{
        display: none;
    }
    .footer-container{
        display: block;
    }
    .coaching-link{
        margin-left: 25%;
        margin-right: 25%;
    }
    .qg-link{
        margin-left: 25%;
        margin-right: 25%;
    }
    .get-started{
        margin-left: 0px;
    }
}
            